@import url(reset.css);

#wrapper {
    width: 1024px;
    margin: 0 auto;
    outline: 0px solid #cccccc;
}

#topLines {
    height: 18px;
    background-image: url(../images/topLines.png);
    background-repeat: repeat-x;
    background-color: #cccccc;
}


/* Начало блока header*/
#header {
    height: 157px;
    outline: 0px solid #cc0000;
    position: relative;
}

#logo {
    width: 257px;
    height: 92px;
    outline: 0px solid #cccccc;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 54px;
    top: 29px;
}

#logo a {
    display: block;
    height: 92px;
    cursor: pointer;
}

#faq {
    width: 82px;
    height: 164px;
    outline: 0px solid #cccccc;
    background-image: url(../images/faq.png);
    background-repeat: no-repeat;
    position: absolute;
    right: 43px;
    top: -18px;
}


#faq a {
    display: block;
    height: 164px;
    cursor: pointer;
}

#nav {
    width: 520px;
    height: 30px;
    outline: 0px solid #cccccc;
    position: absolute;
    left: 377px;
    top: 56px;
}

#nav li {
    float: left;
    outline: 0px solid #cc0000;
    margin-right: 27px;
}

#nav li a {
    text-decoration: none;
    font: 16px Arial,sans-serif;
    color: #3f3f3f;
}

#nav li a.active, #nav li a:hover {
    color: #2c789c;
}

/* Конец блока header*/

/* Начало блока people*/

#people {
    height: 404px;
    outline: 0px solid #000000;
    background-image: url(../images/peopleBg.jpg);
    background-repeat: no-repeat;
    background-position: 74px 53px;
    position: relative;
}

#peopleImg {
    height: 391px;
    width: 398px;
    outline: 0px solid #cccccc;
    position: absolute;
    right: 55px;
    top: -5px;
    background-image: url(../images/people.jpg);
    background-repeat: no-repeat;
    z-index: 5;
}

#slogan {
    width: 377px;
    height: 80px;
    outline: 0px solid #cccccc;
    position: absolute;
    top: 207px;
    right: 632px;
    text-align: right;
    padding-top: 5px;
}

#slogan h1 {
    font: bold 23px Arial, sans-serif;
    color: #1d1e1b;
    text-transform: uppercase;
}

#slogan p {
    font: 16px Arial, sans-serif;
    color: #2c789c;
}

#forLine {
    height: 96px;
    position: absolute;
    bottom: 0;
    left: 0;
    outline: 0px solid #cc0000;
    width: 1024px;
    background-image: url(../images/forLineBg.png);
    background-repeat: repeat-y;
    z-index: 3;
}

/* Конец блока people*/

/* Начало блока Colors*/

#colors {
    outline: 0px solid #cc0000;
    background-image: url(../images/colorsBg.png);
    background-repeat: repeat-y;
    padding: 0 48px 0 41px;
}

#blue {
    width: 292px;
    height: 147px;
    float: left;
    background-color: #2c789c;
    padding-left: 14px;
    background-image: url(../images/q1.png);
    background-repeat: no-repeat;
    background-position: 250px 10px;
}

#yellow {
    width: 302px;
    height: 147px;
    float: left;
    background-color: #e5b00d;
    padding-left: 19px;
    background-image: url(../images/e2.png);
    background-repeat: no-repeat;
    background-position: 267px 10px;
}

#green {
    width: 282px;
    height: 147px;
    float: left;
    background-color: #97ba15;
    padding-left: 24px;
    background-image: url(../images/e3.png);
    background-repeat: no-repeat;
    background-position: 251px 10px;
}

#blue, #yellow, #green {
    color: #ffffff;
    padding-top: 13px;
    position: relative;
}

#colors h2 {
    font: 19px Arial, sans-serif;
    padding-bottom: 10px;
}

#colors p {
    font: 16px Arial, sans-serif;
    padding-bottom: 10px;
}

#colors a {
    text-decoration: none;
    color: #525252;
    font: 16px Arial, sans-serif;
    display: block;
    width: 99px;
    height: 26px;
    background-image: url(../images/readMore.png);
    background-repeat: no-repeat;
    cursor: pointer;
    padding: 4px 10px;
    margin-bottom: 4px;
}

.clear {
    clear: both;
} 

#romb1 {
    width: 24px;
    height: 49px;
    position: absolute;
    background-image: url(../images/e4.png);
    background-repeat: no-repeat;
    left: 0;
    top: 49px;
}

#romb2 {
    width: 24px;
    height: 49px;
    position: absolute;
    background-image: url(../images/e5.png);
    background-repeat: no-repeat;
    left: 0;
    top: 49px;
}

#grean p, #green a {
    margin-left: 6px;
}

#yellow a, #yellow p {
    margin-left: 9px;
}

/* Конец блока Colors*/

/* Начало блока blackAndWhite*/

#blackAndWhite {
    outline: 0px solid #cccccc;
    background-image: url(../images/colorsBg.png);
    background-repeat: repeat-y;
    position: relative;
    padding: 17px 55px 30px 55px;
}

#bLeft, #bRight {
    position: absolute;
    width: 44px;
    height: 100px;
}

#bLeft {
    background-image: url(../images/bLeft.png);
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
}

#bRight {
    background-image: url(../images/bRight.png);
    background-repeat: no-repeat;
    bottom: 0;
    right: 0;
    z-index: 4;
}

#bBottom {
    background-image: url(../images/bBottom.png);
    background-repeat: repeat-x;
    bottom: 0;
    right: 35px;
    width: 956px;
    height: 1px;
    position: absolute;
}

#bContent {
    height: 225px;
    outline: 0px solid #cc0000;
    width: 620px;
    float: left;
}

#bForm {
    height: 225px;
    outline: 0px solid #cc0000;
    width: 264px;
    float: left;
    margin-left: 20px;
    position: relative;
    z-index: 5;
}

#bContent h2, #bForm h2 {
    font: 24px Arial, sans-serif;
    color: #000000;
    margin-bottom: 6px;
}
#bContent h2 {
    height: 34px;
    margin-bottom: 0;
    overflow: hidden;
}

#bContent p.strong {
    color: #1d1e1b;
    font: bold 16px Arial, sans-serif;
    margin-bottom: 17px;
    height: 56px;
    overflow: hidden;
}
#bContent p {
    color: #7b7d78;
    font: 16px Arial, sans-serif;
    margin-bottom: 13px;
    overflow: hidden;
}

#bContent a {
    text-decoration: none;
    color: #b6b7b6;
    font: 16px Arial, sans-serif;
    display: block;
    width: 99px;
    height: 26px;
    background-image: url(../images/readMoreBlack.png);
    background-repeat: no-repeat;
    cursor: pointer;
    padding: 4px 10px;
}

#bForm input {
    width: 247px;
    height: 31px;
    border: 1px solid #dedede;
    margin-bottom: 11px;
    color: #bababa;
    font: 16px Arial, sans-serif;
    padding-left: 15px;
}

#bForm input.button {
    width: 99px;
    height: 26px;
    border: none;
    padding: 25px 0 0 0;
    margin: 0;
}
#bForm h2 {
    font: 24px Arial, sans-serif;
    color: #000000;
    margin-bottom: 6px;
}

/* Конец блока blackAndWhite*/

/* Начало блока Dark*/

#dark {
    padding: 13px 30px 14px 41px;
    outline: 0px solid #cc0000;
    background-color: #1d1e1b;
}

#dark h3 {
    height: 27px;
    outline: 0px solid #cccccc;
    font: 19px Arial, sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    overflow: hidden;
}

#planning, #team, #blog {
    outline: 0px solid #cccccc;
    height: 403px;
    float: left;
}

#planning, #team {
    width: 289px;
} 

#blog {
    width: 297px;
}

#team, #blog {
    margin-left: 36px;
}

#imgDark1 {
    width: 289px;
    height: 115px;
    background-image: url(../images/dark1.jpg);
}

#planning h3 {
    height: 27px;
    outline: 0px solid #cccccc;
    font: 19px Arial, sans-serif;
    color: #ffffff;
    text-transform: uppercase;
}

#planning p {
    height: 226px;
    outline: 0px solid #cccccc;
    font: 12px Arial, sans-serif;
    color: #94998f;
    padding-top: 9px;
    overflow: hidden;
}
#planning a {
    text-decoration: none;
    color: #ffffff;
    font: 16px Arial, sans-serif;
    display: block;
    width: 99px;
    height: 18px;
    background-image: url(../images/readMoreBlue.png);
    background-repeat: no-repeat;
    cursor: pointer;
    padding: 4px 10px;
}

#imgDark2 {
    width: 289px;
    height: 115px;
    background-image: url(../images/dark2.jpg);
}

#team h3 {
    height: 27px;
    outline: 0px solid #cccccc;
    font: 19px Arial, sans-serif;
    color: #ffffff;
    text-transform: uppercase;
}

#team p {
    height: 226px;
    outline: 0px solid #cccccc;
    font: 12px Arial, sans-serif;
    color: #94998f;
    padding-top: 9px;
}
#team a {
    text-decoration: none;
    color: #ffffff;
    font: 16px Arial, sans-serif;
    display: block;
    width: 99px;
    height: 18px;
    background-image: url(../images/readMoreBlue.png);
    background-repeat: no-repeat;
    cursor: pointer;
    padding: 4px 10px;
}

#post1, #post2 {
    height: 125px;
    outline: 0px solid #cccccc;
}

#post3 {
    height: 126px;
    outline: 0px solid #cccccc;
}

#blogImg1 {
    width: 111px;
    height: 81px;
    float: left;
    background-image: url(../images/dark3.jpg);
    margin-right: 10px;
}

#blogImg2 {
    width: 111px;
    height: 81px;
    float: left;
    background-image: url(../images/dark4.jpg);
    margin-right: 10px;
}

#blogImg3 {
    width: 111px;
    height: 81px;
    float: left;
    background-image: url(../images/dark5.jpg);
    margin-right: 10px;
}

#blog h4 {
    font: bold 13px Arial, sans-serif;
    color: #ffffff;
}

#blog p {
    font: 12px Arial, sans-serif;
    color: #94998f;
}

#blog a {
    font: 12px Arial, sans-serif;
    color: #2c789c;
    text-decoration: underline;
}

/*Конец блока Dark*/

/* Начало блока Gray*/

#gray {
    height: 218px;
    background-color: #2e302c;
    outline: 0px solid #c1ad00;
    padding: 15px 30px 35px 40px;
}

#about {
    width: 300px;
    height: 168px;
    outline: 0px solid #cccccc;
    float: left;
}

#partners {
    width: 628px;
    height: 168px;
    outline: 0px solid #cccccc;
    float: left;
    margin-left: 26px;
}

#gray h2 {
    font: 18px Arial, sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 3px;
}

#gray p {
    font: 12px Arial, sans-serif;
    color: #94998f;
    margin-bottom: 6px;
}
#gray a {
    color: #2c789c;
    font: 16px Arial, sans-serif;
    text-decoration: none;
}

.partner {
    float: left;
    outline: 0px solid #cccccc;
    width: 275px;
}

.partner li {
    color: #94998f;
    font: 12px Arial, sans-serif;
    margin-bottom: 15px;
    padding-left: 22px;
    background-image: url(../images/plus.png);
    background-repeat: no-repeat;
    background-position: 0 4px;
}

#p1 {
    margin-left: 22px;
}

#p2 {
    margin-left: 56px;
}

/* Конец блока Gray*/

/* Начало блока Fotter*/

#footer {
    height: 154px;
    background-color: #131412;
    outline: 1px solid #cc0000;
    position: relative;
}

#copy {
    position: absolute;
    top: 81px;
    left: 39px;
}

#copy, #copy a {
    font: 13px Arial, sans-serif;
    color: #9b9d99;
    text-decoration: none;
}