

.textik {
    display: grid;
  color: rgb(190, 161, 161);
  font-size: 30px;
  text-align: justify;
}

.text {
    display: grid;
    color: #888;
    font-family: Arial;
    font-size: 15px;
    line-height: 1.5;
    text-align: justify;
}

@media only screen and (min-width: 600px) {
.my-flex-cont {
    display: grid; 
grid-template-columns: repeat(4, 1fr); 
grid-column-gap: 17px;
grid-row-gap: 0px; 
}
.para { 
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: 1fr; 
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    }

.para1 {
    margin: 15px 0;
}

.para2 {
    margin: 15px 10px;
}
}

@media only screen and (max-width: 600px) {
        .tex1 {
            display: none;
        }
        .text_2 {
            margin: 10px 0;
        }
        .para {
            display: grid; 
grid-template-columns: 1fr; 
grid-template-rows: 1fr; 
grid-column-gap: 0px;
grid-row-gap: 0px; 
        }
    }

.news {
    color: rgb(190, 161, 161);
  font-size: 40px;
  text-align: justify;
  margin: 10px 0;
}

footer {
    margin-top: 30px;
    padding-top: 10px;
    color: #aaaaaa;
    border-top: 1px solid #aaaaaa;
  }